<h1 class="text-center mt-4">Cadastro de Cliente</h1>
<div class="mt-4">
    <button mat-fab extended color="primary" [routerLink]="['/']">
        <mat-icon>arrow_back</mat-icon>
        Voltar
    </button>
    <div class="mt-4">
        <form [formGroup]="formCadastro">
            <div class="row mt-4">
                <div class="col-6">
                    <label for="nomeCliente" [ngClass]="formCadastro.get('nome')?.invalid && formCadastro.get('nome')?.touched ? 'text-color-error' : ''">Nome</label>
                    <mat-form-field appearance="outline" class="w-100">
                        <input formControlName="nome" matInput placeholder="Nome do cliente" id="nomeCliente">
                        <mat-error *ngIf="formCadastro.get('nome')?.invalid">
                            <span>Nome do cliente é obrigatorio</span>
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="col-6">
                    <label for="emailCliente" [ngClass]="formCadastro.get('email')?.invalid && formCadastro.get('email')?.touched ? 'text-color-error' : ''">Email</label>
                    <mat-form-field appearance="outline" class="w-100">
                        <input type="email" formControlName="email" matInput placeholder="Ex. cli@example.com" id="emailCliente">
                        <mat-error *ngIf="formCadastro.get('email')?.invalid">
                            <span>Email do cliente é obrigatorio</span>
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>
            <div class="mt-5">
                <button mat-raised-button color="primary" [disabled]="formCadastro.invalid" (click)="save()">Cadastrar</button>
            </div>
        </form>
    </div>
</div>